@model IEnumerable<CSharpWeb.Models.CustomerViewModel>

@{
    ViewBag.Title = "Customers Upgrade";
}

<h2>Customers to upgrade</h2>

@using (Html.BeginForm("Post", "Customers", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th></th>
            <th>Id</th>
            <th>Vip</th>
            <th>Credit</th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td><input type="checkbox" name="ids" value="@customer.Id" /></td>
                <td>@customer.Id</td>
                <td>@customer.IsVip</td>
                <td>@customer.Credit</td>
            </tr>
        }
    </table>
    <button class="btn btn-primary">Upgrade</button>
}